#include <winresrc.h>
#include "resource.h"
#ifdef PROG_BAR
 #include <commctrl.h>
#endif

IDD_DLGNSIS DIALOGEX 0,0,304,154
FONT 8,"MS Shell Dlg"
STYLE 0x80080808
EXSTYLE 0x00010001
{
  CONTROL "&Close",IDOK,"Button",0x58010000,247,133,48,14,0x00000000
  CONTROL "",IDC_OUTPUTTEXT,"Edit",0x502108C4,9,9,285,117,0x00000200
  CONTROL "Makensis console 0.12",-1,"Static",0x58020000,9,136,173,9,0x00000000
}

#ifndef PROG_BAR
IDD_DLGZIP DIALOGEX 0,0,144,23
FONT 8,"MS Shell Dlg"
STYLE 0x80080808
EXSTYLE 0x00010001
{
  CONTROL "",IDC_ZIPINFO,"Static",0x50020001,9,7,126,8,0x00000000
}
#endif

#ifdef PROG_BAR
IDD_DLGZIP DIALOGEX 0,0,148,16
FONT 8,"MS Shell Dlg"
STYLE 0x80080808
EXSTYLE 0x00000081
{
  CONTROL "",IDC_ZIPPROG,"msctls_progress32",0x50000001,4,4,140,8,0x00000000
}
#endif

IDD_POPUP MENU
{
  POPUP "zip_menu"
  {
    MENUITEM "Cancel...",IDC_CANCELZIP
  }
}

